---
import Avatar from "./Avatar.astro";
---

<div class="about">
  <div>
    <div class="header mx-9 my-7 flex flex-col">
      <span class="hidden lg:inline"
        >code ~ music ~ math ~ design ~ biotech</span
      >
      <span class="inline lg:hidden text-center">💻 ~ 🎵 ~ 📐 ~ 🎨 ~ 🧬</span>
    </div>
    <div class="content m-5 mt-3">
      <span class="prog">
        <span class="prog_content">programmer</span>
        <span class="content">
          a
          <img src="up.svg" class="up" alt="" />
          <span class="so"> stackoverflow-er</span> by choice and a student by chance,
          i opened up a whole new world for myself at the age of 12 when i first
          started coding. since then, i've been on a thrilling adventure in the tech
          world and have fallen head over heels for many pieces of software. intrigued
          by the limitless possibilities at the intersection of technology and biology,
          my passion for biotech and computational biology has become an integral
          part of my journey. i've also discovered a passion for math and design
          along the way! <br /><br /> if code is my yin, then music is definitely
          my yang. i'm not a fan of any specific genre, i just go with what sounds
          interesting to my ears. i play multiple instruments with my favorite being
          the electric guitar! some other random things i enjoy include watching
          marvel movies and anime, sit-coms, instant noodles, and tacos (who doesn't
          love tacos?!).
          <br /><br /> i currently work at hack club where i work with the logistics
          team to provide a better experience to students in india and am an ad-hoc
          in exun, the computer club of my school, dps r.k. puram. <br /> i previously
          worked as the program manager of the india Program at codeday, managing
          and leading all their events in india.
        </span>
      </span>
    </div>
  </div>
  <Avatar type="about" />
</div>

<style>
  .so {
    position: relative;
  }
  .so:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: black;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  .about {
    max-width: 100vw;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header {
    font-family: "Cedarville Cursive";
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 95px;
    color: #594a4e;
  }

  .content {
    font-family: "Proza Libre";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #594a4e;
    display: inline-block;
  }

  .prog {
    font-family: "Nothing You Could Do";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    vertical-align: top;
  }

  .up {
    height: clamp(10px, 15px, 15px);
    display: inline-block;
    margin-top: 1.5rem;
  }

  .prog_content {
    transform: matrix(0.99, -0.15, 0.14, 0.99, 0, 0);
    font-size: clamp(15px, 20px, 100px);
  }

  @media screen and (max-width: 1000px) {
    .about {
      flex-direction: column;
      padding: 1rem;
      padding-top: 2rem;
    }

    .header {
      font-size: 1.5rem;
      line-height: 50px;
      margin-top: 5rem;
      margin-bottom: none;
      align-items: center;
    }

    .content {
      font-size: 18px;
      line-height: 20px;
      max-width: 80vw;
    }
  }
</style>
