---
import Avatar from "./Avatar.astro";
---

<div class="about">
  <div>
    <div class="header m-9">code ~ music ~ math ~ design</div>
    <div class="content m-5">
      <span class="prog">
        <span class="prog_content">programmer</span>
        <span class="content">
          a
          <img src="up.svg" class="up" alt="" />
          <span class="so"> stackoverflow-er</span> by choice and a student by chance,
          i began a new chapter of my life at the age of 12 when i to code. i've
          been on an adventure in the tech world since then and have fallen in love
          with many pieces of tech like typescript, rust, svelte and discovered my
          passion for mathematics and designing. <br /><br /> if code is my ying,
          then music is my yang. i'm not a fan of a specific genre, just anything
          that pleases my ears. i also to love play the guitar and ukulele and hoping
          to learn more instruments soon! more random things i like include marvel,
          anime, instant noodles, tacos.
          <br /><br /> i currently work at codeday where i make tech a better and
          safer place for teen hackers and at hack club where i work with the logistics
          team to provide a better experience to students in india.
          <br /><br />i live my life by three rules: <br />being a pirate is
          better than joining the navy,<br /> spot the fish before you get a rod,
          &
          <br />
          <i>speed</i>
        </span>
      </span>
    </div>
  </div>
  <Avatar cls="about" />
</div>

<style>
  .about {
    /* height: 100vh; */
    max-width: 100vw;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header {
    font-family: "Cedarville Cursive";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 95px;
    color: #594a4e;
  }

  .content {
    font-family: "Proza Libre";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #594a4e;
    /* max-width: 60vw; */
    display: inline-block;
  }

  .prog {
    font-family: "Nothing You Could Do";
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    vertical-align: top;
    /* white-space: nowrap; */
  }

  .up {
    height: clamp(10px, 15px, 15px);
    display: inline-block;
    margin-top: 1.5rem;
  }

  .so {
    position: relative;
    display: inline-block;
    /* margin-left: 10px; */
  }

  .so::after {
    position: absolute;
    content: url("https://cloud-mznfowyqy-hack-club-bot.vercel.app/1slash.svg");
    margin-left: -8.5em;
    width: 10rem;
    height: 3rem;
  }

  .prog_content {
    transform: matrix(0.99, -0.15, 0.14, 0.99, 0, 0);
    font-size: clamp(15px, 20px, 100px);
  }

  @media screen and (max-width: 1000px) {
    .about {
      flex-direction: column;
      padding: 1rem;
      padding-top: 2rem;
    }

    .header {
      font-size: 30px;
      line-height: 50px;
      margin-top: 5rem;
      margin-bottom: none;
      align-items: center;
    }

    .content {
      font-size: 18px;
      line-height: 20px;
      max-width: 80vw;
    }
  }
</style>
