<!-- Circles -->
<div class="circles_content" id="grp">
  <div class="circles_wrapper">
    <img src="white_circle.svg" alt="" id="white_circ" class="white_circle" />
    <img src="pink_circle.svg" alt="" class="pink_circle" />
  </div>
</div>

<script>
  window.onscroll = (x) => {
    const ele = document.getElementById("white_circ") as HTMLImageElement;
    if (window.scrollY > (3 / 4) * window.innerHeight) {
      // const ele = document.querySelectorAll("");
      // console.log(ele);
      ele.classList.add("green_circle");
      ele.src = "green_circle.svg";

      const div = document.getElementById("grp");
      // div.style.overflow = "visible";
    } else {
      ele.classList.remove("green_circle");
      ele.src = "white_circle.svg";

      const div = document.getElementById("grp");
      // div.style.overflow = "hidde";
    }
  };
</script>

<style>
  .circles_content {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: absolute;
  }

  .circles_wrapper {
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    position: relative;
  }

  .white_circle {
    position: absolute;
    right: -90px;
    top: 200px;
    z-index: -10;
    width: 48rem;
    transition: 2s all ease;
  }

  .white_circle.green_circle {
    right: 20vw;
    top: 100vh;
    width: calc(100vh + 30px);
  }

  .pink_circle {
    position: absolute;
    right: -100px;
    top: -200px;
    z-index: -5;
    width: 42rem;
  }

  @media screen and (max-width: 1000px) {
    .circles_content {
      height: 100vh;
      width: 100vw;
      position: absolute;
      /* position: relative; */
    }

    .circles_wrapper {
      position: relative;
      width: 100vw;
      height: 200vh;
      overflow-x: hidden;
      overflow-y: visible;
    }

    .white_circle {
      width: 30rem;
      left: 24.87%;
      position: absolute;

      top: 65vh;
      transition: 1s all ease;
    }

    .white_circle.green_circle {
      top: 150vh;
      left: 0;
      width: 2000px;
    }

    .pink_circle {
      position: absolute;
      width: 25rem;
      left: -30.87%;
      top: 60vh;
    }
  }
</style>
