<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Upright:wght@600&family=Nothing+You+Could+Do&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Tejas Agarwal</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    background-color: #faeee7;
    height: 100%;
  }

  body {
    /* min-height: 100vh; */
    height: 300vh;
    max-width: 100vw;
    background-image: url("https://cloud-mznfowyqy-hack-club-bot.vercel.app/0pattern.svg");
    background-repeat: repeat;
    background-size: cover;
  }

  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
</style>
